/* popup.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    min-width: 350px; /* Set your desired maximum width */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  